{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<header>
    <div style="display: flex; justify-content: space-between;">
        <h1>KU Polls</h1>
        {% if user.is_authenticated %}
            {{ user.username }}
        {% endif %}
    </div>
    <div style="font-size: 80%; display: flex; justify-content: space-between;">
        <a href="/polls/">Home</a>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>
</header>

{% if question.is_published %}
    {% if question.can_vote %}
        <h2 style="font-size: 200%; margin: 1em;">{{ question.question_text }}</h2>

        <form action="{% url 'polls:vote' question.id %}" method="post">
            
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <ul>
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
            </ul>
        {% endfor %}

        <input type="submit" value="Vote" style = "font-size: 120%; margin: 2%; 
        padding: 10px; width: 5%; border: none; background-color: rgb(178, 187, 30)">

        {% if error_message %}
            <p style="color: red; font-size: 120%; margin: 2%"><strong>{{ error_message }}</strong></p>
        {% endif %}

        </form>
    {% else %}
        <article>
            <h1 style="font-size: 300%;">Hmm...</h1> 
            <p style="color: gray;">It seems like the poll "{{ question.question_text }}" has already expired.</p>
            <p style="color: gray;">Since, {{ question.end_date }}</p>
            <a href="{% url 'polls:results' question.id %}"><p>Want to see the result?</p></a>
        </article>
    {% endif %}
{% else %}
<article>
    <h1 style="font-size: 300%;">Great Scott!</h1> 
    <p style="color: gray;">Why are you here? The poll is not published yet.</p>
</article>
{% endif %}