{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/index_style.css' %}">

<header>
    <h1 style = "color: rgb(0, 102, 100); font-size: 500%;">KU Polls</h1>
    <!-- <p h1 style = "color: rgb(116, 120, 120); font-size: 130%;">Welcome to the KU Polls, plese click on each topic to vote.</p> -->
    {{ ip }}
</header>

{% if question_list %}
    <table style="width:70%">
        <tr>
            <th style = "font-size: 100%;">Topic</th>
        </tr>
        {% for question in question_list %}
        <tr>
            <td><li style = "text-align: left;">{{ question.question_text }}</li></td>
            {% if question.can_vote %}           
                <td>
                    <a href="{% url 'polls:detail' question.id %}"><p style="height: 21px;">vote</p></a>
                    <p style="font-size: 60%; line-height: 1px; color: gray;">Due {{ question.end_date }}</p>
                </td>
                <td><a href="{% url 'polls:results' question.id %}"><p>result</p></a></td>
            {% else %}
                <td style="width: 195px;"></td>
                <td><a href="{% url 'polls:results' question.id %}"><p>result</p></a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    
{% else %}
    <header>
        <h2 style = "color: rgb(116, 120, 120); font-size: 200%;">No polls are available.</h2>
    </header>
{% endif %}