* {
    font-family: Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
}
body {
    background: whitesmoke url("images/background.gif");
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    text-align: center;
    line-height: 1em;
    padding: 2%;
}
table {
    background: rgba(240, 240, 240, 0.9);
    list-style-type: circle;
    text-align: center;
    font-size: 150%;
    line-height: 2em;
    padding: 2%;
    margin: auto;
}
a:link, a:visited  {
    color: rgb(0, 102, 100);
    text-decoration: none;
}
a:hover {
    color: rgb(178, 187, 30);
    text-decoration: none;    
}
button:hover {
    color: white;  
}